body {
    font-family: 'Cairo', sans-serif;
}

.section-head h3 {
    text-align: right;
}

.carousel-control, .slideshow {
    direction: ltr;
}

.no-js .owl-carousel, .owl-carousel.owl-loaded {
    direction: ltr;
}

.justify-content-end {
    -webkit-box-pack: start !important;
    -ms-flex-pack: start !important;
    justify-content: flex-start !important;
}

.cats.card  {
    text-align: right;
}

.head .cats ul li a i:last-child {
    float: left;
    transform: rotate(180deg);
}

.head .cats .card-header .card-title i {
    margin-right: 0;
    margin-left: 10px;
}

.product-card .card-head {
    text-align: right;
}

.product-card .tag {
    right: auto;
    left: 5px;
}

.product-card .stars {
    text-align: right;
    direction: ltr;
}

.breadcrumb {
    text-align: right;
}

.breadcrumb ul li::after {
    content: "\f104"
}

.single-product {
    text-align: right;
}

.single-product .info {
    direction: rtl;
}

.item.blog .card-body {
    text-align: right;
}

footer {
    text-align: right;
}